
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DreIshSch15c1">1</a>]
</td>
<td class="bibtexitem">
P.&nbsp;Dreesen, M.&nbsp;Ishteva, and J.&nbsp;Schoukens.
 Recovering Wiener-Hammerstein nonlinear state-space models using
  linear algebra.
 In <em>In Proc. of the 17th IFAC Symposium on System Identification
  (SYSID 2015)</em>, Beijing, China, 2015.
[&nbsp;<a href="c_bib.html#DreIshSch15c1">bib</a>&nbsp;| 
<a href="http://homepages.vub.ac.be/~mishteva/papers/sysid2015_recovering_WH_models.pdf">pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="DreIshSch15c2">2</a>]
</td>
<td class="bibtexitem">
P.&nbsp;Dreesen, M.&nbsp;Ishteva, and J.&nbsp;Schoukens.
 On the full and block-decoupling of nonlinear functions.
 In <em>PAMM-Proceedings of Applied Mathematics and Mechanics</em>,
  volume&nbsp;15, pages 739-742, 2015.
[&nbsp;<a href="c_bib.html#DreIshSch15c2">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1002/pamm.201510352">DOI</a>&nbsp;| 
<a href="http://homepages.vub.ac.be/~mishteva/papers/On_the_full_and_block-decoupling_of_nonlinear_functions_PAMM_2015.pdf">pdf</a>&nbsp;| 
<a href="http://dx.doi.org/10.1002/pamm.201510352">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Usevich14conf-Decomposing">3</a>]
</td>
<td class="bibtexitem">
K.&nbsp;Usevich.
 Decomposing multivariate polynomials with structured low-rank matrix
  completion.
 In <em>Proc. of the 21th International Symposium on Mathematical
  Theory of Networks and Systems</em>, pages 1826-1833, 2014.
[&nbsp;<a href="c_bib.html#Usevich14conf-Decomposing">bib</a>&nbsp;| 
<a href="http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/Usevich14conf-Decomposing.pdf">pdf</a>&nbsp;]
<blockquote>
We are focused on numerical methods for decomposing a multivariate polynomial as a sum of univariate polynomials in linear forms. The main tool is the recent result on correspondence between the Waring rank of a homogeneous polynomial and the rank of a partially known quasi-Hankel matrix constructed from the coefficients of the polynomial. Based on this correspondence, we show that the original decomposition problem can be reformulated as structured low-rank matrix completion (or as structured low-rank approximation in the case of approximate decomposition). We construct algorithms for the polynomial decomposition problem. In the case of bivariate polynomials, we provide an extension of the well-known Sylvester algorithm for binary forms.
</blockquote>
<p>
</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="VanMulders.etal14conf-Identification">4</a>]
</td>
<td class="bibtexitem">
A.&nbsp;Van Mulders, L.&nbsp;Vanbeylen, and K.&nbsp;Usevich.
 Identification of a block-structured model with several sources of
  nonlinearity.
 In <em>Proc. of the 14th European Control Conference</em>, pages
  1717-1722, 2014.
[&nbsp;<a href="c_bib.html#VanMulders.etal14conf-Identification">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/ECC.2014.6862455">DOI</a>&nbsp;| 
<a href="http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/VanMulders.etal14conf-Identification.pdf">pdf</a>&nbsp;]
<blockquote>
This paper focuses on a state-space based approach for the identification of a rather general nonlinear block-structured model. The model has several Single-Input Single-Output (SISO) static polynomial nonlinearities connected to a Multiple-Input Multiple-Output (MIMO) dynamic part. The presented method is an extension and improvement of prior work, where at most two nonlinearities could be identified. The location of the nonlinearities or their relation to other parts of the model does not have to be known beforehand: the method is a black-box approach, in which no states, internal signals or structural properties need to be measured or known. The first step is to estimate a partly structured polynomial (nonlinear) state-space model from input-output measurements. Secondly, an algebraic approach is used to split the dynamics and the nonlinearities by decomposing the multivariate polynomial coefficients.
</blockquote>
<p>
</td>
</tr>
</table><hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.97.</em></p>
