<h1>c.bib</h1><a name="Usevich14conf-Decomposing"></a><pre>
@inproceedings{<a href="c.html#Usevich14conf-Decomposing">Usevich14conf-Decomposing</a>,
  author = {K. Usevich},
  title = {Decomposing multivariate polynomials with structured low-rank matrix completion},
  booktitle = {Proc. of the 21th International Symposium on Mathematical Theory of Networks and Systems},
  year = {2014},
  pages = {1826--1833},
  abstract = {We are focused on numerical methods for decomposing a multivariate polynomial as a sum of univariate polynomials in linear forms. The main tool is the recent result on correspondence between the Waring rank of a homogeneous polynomial and the rank of a partially known quasi-Hankel matrix constructed from the coefficients of the polynomial. Based on this correspondence, we show that the original decomposition problem can be reformulated as structured low-rank matrix completion (or as structured low-rank approximation in the case of approximate decomposition). We construct algorithms for the polynomial decomposition problem. In the case of bivariate polynomials, we provide an extension of the well-known Sylvester algorithm for binary forms.},
  pdf = {<a href="http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/Usevich14conf-Decomposing.pdf">http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/Usevich14conf-Decomposing.pdf</a>}
}
</pre>

<a name="VanMulders.etal14conf-Identification"></a><pre>
@inproceedings{<a href="c.html#VanMulders.etal14conf-Identification">VanMulders.etal14conf-Identification</a>,
  author = {A. {Van Mulders} and L. Vanbeylen and K. Usevich},
  title = {Identification of a block-structured model with several sources of nonlinearity},
  booktitle = {Proc. of the 14th European Control Conference},
  year = {2014},
  abstract = {This paper focuses on a state-space based approach for the identification of a rather general nonlinear block-structured model. The model has several Single-Input Single-Output (SISO) static polynomial nonlinearities connected to a Multiple-Input Multiple-Output (MIMO) dynamic part. The presented method is an extension and improvement of prior work, where at most two nonlinearities could be identified. The location of the nonlinearities or their relation to other parts of the model does not have to be known beforehand: the method is a black-box approach, in which no states, internal signals or structural properties need to be measured or known. The first step is to estimate a partly structured polynomial (nonlinear) state-space model from input-output measurements. Secondly, an algebraic approach is used to split the dynamics and the nonlinearities by decomposing the multivariate polynomial coefficients.},
  pages = {1717--1722},
  doi = {10.1109/ECC.2014.6862455},
  pdf = {<a href="http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/VanMulders.etal14conf-Identification.pdf">http://www.gipsa-lab.grenoble-inp.fr/~konstantin.usevich/_preprints/VanMulders.etal14conf-Identification.pdf</a>}
}
</pre>

<a name="DreIshSch15c1"></a><pre>
@inproceedings{<a href="c.html#DreIshSch15c1">DreIshSch15c1</a>,
  author = {P. Dreesen and M. Ishteva and J. Schoukens},
  title = {Recovering {W}iener-{H}ammerstein nonlinear state-space models using linear algebra},
  booktitle = {In Proc. of the 17th IFAC Symposium on System Identification (SYSID 2015)},
  year = {2015},
  address = {Beijing, China},
  pages = {},
  pdf = {<a href="http://homepages.vub.ac.be/~mishteva/papers/sysid2015_recovering_WH_models.pdf">http://homepages.vub.ac.be/~mishteva/papers/sysid2015_recovering_WH_models.pdf</a>}
}
</pre>

<a name="DreIshSch15c2"></a><pre>
@inproceedings{<a href="c.html#DreIshSch15c2">DreIshSch15c2</a>,
  author = {P. Dreesen and M. Ishteva and J. Schoukens},
  title = {On the full and block-decoupling of nonlinear functions},
  booktitle = {PAMM-Proceedings of Applied Mathematics and Mechanics},
  year = {2015},
  volume = {15},
  number = {1},
  pages = {739--742},
  issn = {1617-7061},
  url = {<a href="http://dx.doi.org/10.1002/pamm.201510352">http://dx.doi.org/10.1002/pamm.201510352</a>},
  pdf = {<a href="http://homepages.vub.ac.be/~mishteva/papers/On_the_full_and_block-decoupling_of_nonlinear_functions_PAMM_2015.pdf">http://homepages.vub.ac.be/~mishteva/papers/On_the_full_and_block-decoupling_of_nonlinear_functions_PAMM_2015.pdf</a>},
  doi = {10.1002/pamm.201510352}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.97.</em></p>
